<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-buttons></ion-menu-buttons>
    </ion-buttons>
    <ion-title>AIDo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="h1b">
    Enter the user's parameters!
  </h1>
  
      <section class="ion-margins">
        <header class="h1b">Are you done with the parameters?</header>
        <ion-button fill="solid" color="primary" class="caca2" href="../tabs/signup">Yes, take me to the sign-up page!</ion-button>
        <ion-button fill="solid" color="tertiary" class="caca2" href="../tabs/loginintrebare">Take me back!</ion-button>
      </section>
</ion-content>
