<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title class="dodo3">Login - AIDo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<center class="style">
  <h1 class="dodo1">Log into your account!</h1><h2 class="dodo2">Nice to see you again! Fill in the forms and you're back into AIDo!</h2>

<div class = "list">
  <label class = "item item-input">
     <input type = "text" placeholder = "E-mail/Username" />
  </label>
<br>
  <label class = "item item-input">
     <input type = "password" placeholder = "Password" />
  </label>
</div>
<br>
<div>
  <ion-button style="width:50%; font-family:static !important">Login</ion-button>
</div>
<div>
  <ion-button style="width:50%; font-family:static !important;" color="secondary" href="../tabs/loginintrebare">Back</ion-button>
</div>
</center>
</ion-content>
