<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="circle"></div>
    <ion-title class="floksi">
      Connect
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card *ngIf="bol">
    <ion-item>
      <ion-card-header style="font-size: 2em; font-weight: bold; text-align: center;">Smart Water Sensor</ion-card-header>
    </ion-item>
    
    <ion-card-content>
      <img src="/../assets/images/apa.jpg" />
      <ion-label>The first generation Smart Water sensor will measure your amount of water left in the bottle.</ion-label>
    </ion-card-content>
   <ion-card-footer style="color: grey; text-align:center;" class="trula"><ion-label (click)="resetRobo()">disconnect</ion-label></ion-card-footer>

  </ion-card>
  <div *ngIf="!bol" class="container">
    <ion-button (click)="presentActionSheet()" class="butcon">Connect</ion-button>
  </div>

</ion-content>