<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Connect
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card *ngIf="bol">
    <ion-item>
      <ion-card-header style="font-size: 2em; font-weight: bold; text-align: center;">AYU v1</ion-card-header>
    </ion-item>
    
    <ion-card-content>
      <img src="/../assets/images/robo.png" />
      <ion-label>The first generation AYU robot will measure your pulse with the help of advanced sensors.</ion-label>
    </ion-card-content>
   <ion-card-footer style="color: grey; text-align:center;" class="trula"><ion-label (click)="resetRobo()">disconnect</ion-label></ion-card-footer>

  </ion-card>
  <div *ngIf="!bol" class="container">
    <ion-button (click)="presentActionSheet()" class="butcon">Connect</ion-button>
  </div>

</ion-content>