.container{
    background-color: rgb(18,18,18);
    align-items:center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.butcon{
    color: black;
    font-size: 0.9em;
}

.trula{
    align-items: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin:auto;

}
ion-title{
    font-family: static;
}
.custom-toolbar {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    --background:#00465D;
    height: 97px;
    position: relative; 
  }
  
.floksi{
    font-size: 30px;
}