<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="circle"></div>
    <ion-title>
      AI Trainer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card style = "position:relative;  top:550px; background-color:#00465D; height:115px">

    <ion-card-header>

    </ion-card-header>

   <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="8"> <!-- Adjust the size to control the width of the text -->
          <b>Generate AI Workout</b>
        </ion-col>
        <ion-col size="4"> <!-- Adjust the size to control the width of the button -->
          <div class="custom-center"><ion-fab-button> <ion-icon name="chevron-forward-circle"></ion-icon> </ion-fab-button></div>
        </ion-col>
      </ion-row>
    </ion-grid>



    </ion-card-content>



  </ion-card>
</ion-content>