<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-menu-buttons></ion-menu-buttons>
    </ion-buttons>
    <ion-title class="dodo3">Welcome! - AYU: Client</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="margins">
  <div class="loginpage">
    <center>
      <h1 class="dodo">Welcome to AYU!</h1><h2 class="dodo2">The go-to mental health app to-date!</h2>
    </center>
      <ion-list-header class="dodo5">
        <ion-label class="dodo4">Did you take the intial test yet?</ion-label>
      </ion-list-header>
  </div>   
  <ion-list class="Footerlogin">

    <ion-button  size="medium" href="./tabs/login" class="dodo6">Yes, take me to the login page!</ion-button><!--catre login wow-->
    <br>
    <ion-button size="medium" href="./tabs/testul"  class="dodo6">No, I'll take it now!</ion-button><!--catre test (e scos dintab switcher. daca nu va place bagatil inapoi)-->
    <br>
    <ion-button size="medium"  class="dodo6">I'll come back later...</ion-button><!--nu merge inca-->
    
  </ion-list>

</ion-content>
