.dodo {
    font-size: 3em;
    margin: 0;
    color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
    .dodo {
        font-size: 2em;
    }
}

.dodo2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.dodo3 {
    font-size: 1.8em;
    color: rgb(255, 255, 255) !important;
    text-align: center;
    top:10px;
}

.dodo4 {
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
}

.dodo5 {
    margin-top: 15%;
}

.dodo6 {
    color: rgb(0, 0, 0);
    font-size: medium;
}

@media (max-width: 2000px) {
    .dodo6 {
        width: 30vw;
    }
}

@media (max-width: 767px) {
    .dodo6 {
        width: 85%;
    }
}

.margins {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0 15px;
}

.loginpage {
    background-size: cover;
    background-position: center;
    padding: 30px 15px 5px 15px;
    color: black;
    border-radius: 0px 0px 30px 30px;
}

ion-list {
    --margin: 0 -15px !important;
    border-radius: 15px 15px 0 0;
    margin-top: -15px;
   
}

ion-label {
    margin-bottom: -20px;
}

.Footerlogin {
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}
ion-toolbar {
    
    background-color: #00465D;
    height: 80px; /* Set the desired height */
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
ion button{
    background-color: #00465D !important;
}