<ion-header>
  <ion-toolbar color="white">
    <!-- Title placed within the ion-toolbar -->
    <ion-title class="dodo3">Welcome to AIDo!</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="margins">
  <div class="loginpage">
    <center>
     <h2 class="dodo2">The go-to gym companion</h2>
    </center>
      <ion-list-header class="dodo5">
        <ion-label class="dodo4">Did you enter the user parameter's yet?</ion-label>
      </ion-list-header>
  </div>   
  <ion-list class="Footerlogin">

    <ion-button  size="medium" href="./tabs/login" class="dodo6">Yes, take me to the login page!</ion-button><!--catre login wow-->
    <br>
    <ion-button size="medium" href="./tabs/testul"  class="dodo6">No, I'll enter them now!</ion-button><!--catre test (e scos dintab switcher. daca nu va place bagatil inapoi)-->
    <br>
    <!-- <ion-button size="medium"  class="dodo6">Login with Google</ion-button>nu merge inca -->
    

    <!-- <div *ngIf="user">

    </div> -->
    
  </ion-list>

</ion-content>