<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="position: relative;margin: 0 auto">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://tikkurila.com/sites/default/files/styles/thumbnail_800_auto/public/color_resources/%2345474B.png?itok=yOcFo8Fw"/>
    <ion-card-header>
      <ion-card-title class="crt">
        <div>Create new Workout</div> 
        <ion-button tab="app-tab3" size="small" >
          Create
        </ion-button>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Click here to design your personalized workout plan with the help of our AI assistant.
    </ion-card-content>
  </ion-card>
  
  <ion-button (click)="showAlert()" id="button-alert">Click Me</ion-button>
  <ion-alert
    trigger="button-alert"
    header="Alert!"
    [buttons]="alertButtons"
    (didDismiss)="setResult($event)"
  ></ion-alert>
</ion-content>
