.gray-bg {
  background-color: #070f6174;
}

.small-button {
  font-size: 10px; /* Adjust the font size as needed */
}

.button-content {
  text-align: center;
}

.day-button {
  text-align: center;
}

.day-text {
  margin-top: 5px; /* Add margin for spacing */
}
