.gray-bg {
  background-color: #070f6174;
}

.button-content {
  text-align: center;
}

.day-button {
  text-align: center;
  font-size: 10px;
}

.day-text {
  margin-top: 5px; /* Add margin for spacing */
}

.textbuton5{
  text-align: center;
}

.textsubbut{
  font-size: 16px;
}

.rotated-text {
  transform: rotate(270deg);
}