<ion-header class="text-font">
  <ion-toolbar color="primary">
    <ion-title class="text-font">
      Goal Setter
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content class="text-font">
  <ion-slides pager="true" [options]="slideOpts">
    <!--<ion-slide>
      <ion-input class="text-font" [(ngModel)]="myGoal.name">Goal Name</ion-input>
      <ion-input class="text-font" [(ngModel)]="myGoal.description">Goal Description</ion-input>
      <ion-button class="text-font" (click)="addGoal()">Save Goal</ion-button>
    </ion-slide>-->
      
    <ion-slide>
      
      
      <ion-button id="open-modal" expand="block" class="Antonia">+</ion-button>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>
                <ion-label position="floating">Goal title</ion-label>
                <ion-input [(ngModel)]="myGoal.name"></ion-input>

                <ion-label position="floating">Goal description</ion-label>
                <ion-input [(ngModel)]="myGoal.description"></ion-input>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>
     
<!-- ... (previous code) ... -->
<div *ngFor="let gl of goalArray" class="Mara">
  <ion-list style="width: 100%;" [inset]="true">
    <ion-item>
      <ion-label>{{ gl.name }}</ion-label>
      <ion-label>{{ gl.description }}</ion-label>
      <ion-button (click)="showConfirmationDialog(gl)"> <!-- Pass the goal to the function -->
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</div>
<!-- ... (previous code) ... -->
<ion-button (click)="showAlert()" id="button-alert">Click Me</ion-button>

  <ion-alert
    trigger="button-alert"
    header="Reminder!"
    message="You have to drink water!"
    [buttons]="alertButtons"
    (didDismiss)="setResult($event)"
  ></ion-alert>


      
    </ion-slide>
    <ion-slide>
      <canvas baseChart class="gucci" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
      [legend]="lineChartLegend"></canvas>
    
    
   
   
    
    
        <canvas baseChart class="gucci" [type]="'line'" [data]="lineChartData2" [options]="lineChartOptions"
      [legend]="lineChartLegend"></canvas>
      
    
   
   
  
</ion-slide>
<!--<ion-slide>
  <div>
    <canvas baseChart class="style" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
  </div>
</ion-slide>-->  

</ion-slides>
</ion-content>