ion-input {
  --highlight-height: 2px;
  --highlight-color-focused: #00465D;
  --highlight-color-valid: #00465D;
  --highlight-color-invalid: #00465D;
}

.text-font {
  font-family: static!important;
  text-align: center;
}

ion-slides {
  height: 100%;
}

ion-slide {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items at the top */
  width: 100%;
  height: 100%;
}
.text-font{
  //bold
  font-weight: bold;
  color: black;
  
}
.task-title {
  font-family: static!important;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.task-subtitle {
  font-family: static!important;
  font-size: 10px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
canvas {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
}

ion-button {
  
}

.Antonia {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 40px;
  height: 40px;
  padding: 5px;
}

.Mara {
  position: initial;
  justify-content: space-between;
  margin-top: 0 auto;
  border-top: 0;
  margin-bottom: 20px;
  width: 100%;
  padding: 2px;
  background-color: #4444; /* Semi-dark background color */
  border-radius: 5px;
  color: white; /* Text color */
}



