<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="circle"></div>
    <ion-title class="hapciu">
      Goal Setter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="text-font">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-button id="open-modal" expand="block" class="Antonia">+</ion-button>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Welcome</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-label position="floating">Goal title</ion-label>
              <ion-input [(ngModel)]="myGoal.name"></ion-input>
              <ion-label position="floating">Goal description</ion-label>
              <ion-input [(ngModel)]="myGoal.description"></ion-input>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
      
      <div *ngFor="let gl of goalArray" class="Mara">
        <ion-list>
          <ion-item>
            <ion-label class="task-title">{{ gl.name }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="goal-description">{{ gl.description }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-button style="margin-top: 10px; width: 100%;" (click)="showConfirmationDialog(gl)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
    
    <ion-slide>
      <canvas baseChart class="gucci" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions" [legend]="lineChartLegend"></canvas>
      <canvas baseChart class="gucci" [type]="'line'" [data]="lineChartData2" [options]="lineChartOptions" [legend]="lineChartLegend"></canvas>
    </ion-slide>
    
  </ion-slides>
</ion-content>



<ion-alert
  trigger="button-alert"
  header="Reminder!"
  message="You have to drink water!"
  [buttons]="alertButtons"
  (didDismiss)="setResult($event)"
></ion-alert>
