<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-buttons></ion-menu-buttons>
    </ion-buttons>
    <ion-title class="dodo4">Sign up - AYU:Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<center class="style">
<h1 class="dodo">Sign up to AYU!</h1>
<h3 class="dodo1">In just a couple moments you can enter the world of free, world-wide, accessible mental-health care!</h3>
<div class = "list">
  <label class = "item item-input">
    <input type = "text" for="name" placeholder = "Type in your name" />
 </label>
 <br>
  <label class = "item item-input" for="username">
    <input type = "text" placeholder = "Pick a username" />
 </label>
  <br>
  <label class = "item item-input">
     <input type = "email" placeholder = "E-mail" />
  </label>
<br>
  <label class = "item item-input">
     <input type = "password" placeholder = "Password" />
  </label>
  <br>
  <label class = "item item-input">
    <input type = "password" for="confirmpassword" placeholder = "Confirm Password" />
 </label>
</div>
<br>
<div>
  <ion-button style="width:50%; font-family:static !important">SIGN UP</ion-button>
</div>
<div>
  <ion-button style="width:50%; font-family:static !important;" color="secondary" href="../tabs/loginintrebare">Back</ion-button>
</div>
</center>
</ion-content>
