ion-title{
    font-family:static !important;
    font-size: 1.5em;
    
}
ion-content{
    font-family:static !important;
    font-size: 1.1em;
    
}

ion-list{
    background: none;
}

ion-list-header{
    display:block;
    text-align: center;
    font-size: large;
    border-radius: 30px 30px 0 0;  
}

ion-radio-group{
    font-family:static !important;
    font-size: 1.1em;  
}
ion-radio-group ion-item:last-of-type{
    border-radius: 0 0 30px 30px;
}

ion-item{
    font-family:static !important;
    font-size: 1.1em;  
}

ion-button{
    font-family:static !important;
    font-size: 1.1em;
}

ion-label{
    font-family:static !important;
    font-size: 1.1em;
    color: black;
    padding: 15px;
    font-size: smaller;
}

ion-list-header{
    background-color:var(--ion-color-tertiary);
    font-size: 1.1em;
}

ion-list{
    font-size: 1.1em;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.ion-margins{
    margin-right: 15px;
    margin-left:15px;
}
.dodo {
    font-family:static !important;
    font-size: 3em;
    color: rgb(255, 255, 255);
}
.dodo1 {
    font-family:static !important;
    font-size:1.5em;
    color: rgb(193, 193, 193);
}
.list{
    margin-top: 10%;
}
input[type=text] {
    background-color: black;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 60%;
    height: 50px;
    font-family: static !important;
    padding: 15px;
    color: white;
}
input[type=email] {
    background-color: black;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 60%;
    height: 50px;
    font-family: static !important;
    padding: 15px;
    color: white;
}
input[type=password] {
    background-color: black;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 60%;
    height: 50px;
    font-family: static !important;
    padding: 15px;
    color: white;
}
input[for=confirmpassword] {
    border-radius: 0px 0px 30px 30px;
}
input[for=name] {
    border-radius: 30px 30px 0px 0px;
}
.dodo4 {
    text-align: center;
    
}
.style {
    padding: 15px;
    font-size: smaller;
}
ion-content{
    background-size: cover;
    background-position: center;
    padding: 50px 5px 50px 5px ;
    color: black;
}
//am dat copy-paste la astea de la testul initial si de la login